html, body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  position: relative;
  font-size: 62.5%;
  line-height: normal;
}

h1 {
  color: #111;
  font-family: 'Open Sans', sans-serif;
  font-size: 5.8rem;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 1;
  text-align: left;
  line-height: normal;
}

h2 {
  color: #5A79EC;
  font-family: 'Open Sans', sans-serif;
  font-size: 4rem;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  line-height: normal;
}

h4 {
  font-size: 1.8rem;
  line-height: normal;
}

p {
  color: #111;
  font-family: 'Open Sans', sans-serif;
  font-size: 5em;
  font-weight: 300;
  line-height: normal;
  text-align: left;
}

.gray-text {
  color: #5A79EC;
  font-family: 'Open Sans', sans-serif;
  font-size: 3.5rem;
}

.blue {
  color: #5A79EC;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  position: absolute;
  /*top: 50%;*/
  left: 50%;
  width: 80%;
  /*height: 100%;*/
  margin: 0px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.graph {
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  width: 960px;
  height: 500px;
  width: 80vW;
  height: 70vH;
}

.quote {
  position: inherit;
  top: 50%;
  left: 0%;
  width: 85%;
  -webkit-transform: translate(-0%, -50%);
  transform: translate(-0%, -50%);
  padding-left: 1em;
  border-left: 0.2em solid #4d91b3;
}

.quote p {
  font-size: 3.8rem;
  line-height: normal;
}

svg {
  width: 100%;
  height: 100%;
  position: center;
}

text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.toolTip {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px rgba(0, 0, 0, 0.2);
  color: black;
  font: 1rem sans-serif;
  padding: 8px;
  text-align: left;
}

.toolTip:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 8px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 8px solid white;
  border-bottom: 5px solid transparent;
}

#talkbubble {
  width: 120px;
  height: 80px;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#talkbubble:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
}

.legend {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*font-size: 10rem;*/
}

text {
  font: 1.8rem sans-serif;
  font-weight: normal;
}

.axis text {
  font: 1.4rem sans-serif;
}

.axis path {
  fill: none;
  stroke: #000;
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.start {
  background-color: #5A79EC;
}

.headline {
  color: white;
}

.headline_p {
  color: white;
  font-size: 2.3rem;
}

.headline_blue {
  color: #5A79EC;
}

.headline_blue_thin {
  color: #5A79EC;
  font-weight: lighter;
}

.thema {
  background-image: url(../2.png);
  background-position: center center;
  background-size: cover;
}

.wrapper-oben {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 80%;
  /*height: 60%;*/
  margin: 0px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.wrapper-left {
  position: absolute;
  top: 20%;
  left: 5%;
  /*height: 60%;*/
  margin: 0px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.bigbold {
  color: #5A79EC;
  font-family: 'Open Sans', sans-serif;
  font-size: 12rem;
  font-weight: bolder;
  letter-spacing: -1px;
  line-height: 1;
  text-align: left;
}

.fat {
  font-weight: 500;
}

.cardsortingBG {
  width: 50vW;
  height: 80vH;
  background-image: url(../3.jpeg);
  background-position: center center;
  background-size: center;
  background-repeat: no-repeat;
}

.stakeholderBG {
  width: 80vW;
  height: 80vH;
  background-image: url(../1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.barchart {
  background-color: red;
  width: 800px;
  height: 800px;
  float: right;
  margin-right: 10%;
}

.auswertung {
  background-image: url(../4.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.flyer2 {
  background-image: url(../flyer2.jpg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: auto;
  height: 600px;
}

.flyer4 {
  background-image: url(../flyer4.jpg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: auto;
  height: 600px;
}
